<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/jq.css}"/> <!-- resources根据版本号设置目录 fixed -->
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script> <!-- resources设置MD5名称 content -->
</head>
<body>
    <p>Hello world!</p>
    <p>Hello world!</p>
    <p>Hello world!</p>
    <p>Hello world!</p>

    <p th:text="${sayText}"></p>
    <script>
        $.ajax({url:"/getJson",async:false});
        $.ajax({url:"/getJsonForError",async:false});
        $.ajax({url:"/getUser",async:false});
    </script>
</body>
</html>